.test {
  color: white;
}

.viewPort {
  margin: 0 auto;
  height: 60vw;
  width: 90vw;
  max-height: 400px;
  max-width: 600px;
  background-color: rgb(208, 224, 200);
  position: relative;
  overflow: hidden;
}

.player,
.ork {
  width: 20%;
  height: 60%;
  position: absolute;
  bottom: 0;
}

.player {
  background: white;
  left: 15%;
  border-top-right-radius: 80px;
}

.ork {
  background-color: rgb(0, 209, 0);
  right: 15%;
  border-top-left-radius: 80px;
}

.health {
  position: absolute;
  z-index: 50;
  top: calc(50% - 30%);
  width: 7%;
  max-width: 30px;
  height: 60%;
  border: 2px solid #272727;
  border-radius: 30px;
  margin: 10px;
  overflow: hidden;
}

.enemyHealth {
  right: 0;
}

.fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: red;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.playerDmg,
.enemyDmg {
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 30%;
  background-color: orange;
  width: 40px;
  border-radius: 100px;
  border: solid black;
}

.enemyDmg {
  left: 30%;
}

.playerDmg {
  right: 30%;
}
